= twitter_bootstrap_form_for(:resource, :url  => '/') do |f|
  %input#package{ :name => 'resource[package]', :type => 'hidden', :value => '' }
  .bordered.topspace20
    = f.text_field :project_name, class: 'span8' do
      %span.help-block
        (e.g. "Example Page" or "Example" or…)

    = f.text_field :domain, class: 'span8' do
      %span.help-block
        (e.g. "example.de")
    = f.toggles do
      = f.check_box :nameservers, 'Automatically set nameservers', { :checked => true }

  .bordered.templates.topspace20
    %p Choose Template:
    
    .row
      - @packages.each do |p|

        .preview_template.span3.thumbnail{ :data => { :package => "#{p.name}" } }
          =image_tag p.thumbnail
          %h4=p.label
          =p.description
      
    .cleanup

  .centered.topspace20
    = f.submit 'CREATE', class: 'btn large primary'
