= twitter_bootstrap_form_for(:resource, :url  => '/') do |f|
  %input#package{ :name => 'resource[package]', :type => 'hidden', :value => '' }
  .bordered.topspace20
    = f.text_field :project_name, class: 'span8' do
      %span.help-block
        (e.g. "Example Page" or "Example" or…)

    = f.text_field :domain, class: 'span8' do
      %span.help-block
        (e.g. "example.de")
    = f.toggles do
      = f.check_box :nameservers, 'Automatically set nameservers', { :checked => true }

  .bordered.templates.topspace20
    %p Choose Template:
    
    .row
      .preview_template.span3.thumbnail{ :data => { :package => 'auc' } }
        =image_tag 'templates/template1.png'
        %h4 AUC
        3 Pages, 2 Templates
      
      .preview_template.span3.thumbnail{ :data => { :package => 'shift' } }
        =image_tag 'templates/template2.png'
        %h4 Shift Foundation
        2 Pages, 2 Templates

    .cleanup

  .centered.topspace20
    = f.submit 'CREATE', class: 'btn large primary'
