<tr>
  <td>
    <%= domain.domain %>
  </td>
  <td>
    <%= domain.dumbo_state %>
  </td>
  <td>
    <% if domain.dumbo_binary_state %>
      <%= link_to "deactivate Dumbo for this domain", domain_deactivate_dumbo_path(domain), :remote => true %>
    <% else %>
      <%= link_to "activate Dumbo for this domain", domain_activate_dumbo_path(domain), :remote => true %>
    <% end %>
  </td>
  <td>
    <%= link_to "update domain details", domain_update_path(domain, :update_view => true), :remote => true %>
  </td>
</tr>